<h1>検索対象の一覧</h1>

<table>
  <tr>
    <th>検索対象</th>
    <th>書名</th>
    <th>著者</th>
    <th>出版社</th>
    <th>出版年</th>
    <th></th>
    <th></th>
  </tr>

<% @libraries.each do |library| %>
  <tr>
    <td><%= library.name %></td>
    <td><%= library.title %></td>
    <td><%= library.author %></td>
    <td><%= library.publisher %></td>
    <td><%= library.year %></td>
    <td><%= link_to '編集', edit_library_path(library) %></td>
    <td><%= link_to '削除', library, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '検索対象の新規作成', new_library_path %>
