<p id="notice"><%= notice %></p>

<p>
  <b>検索対象:</b>
  <%= @library.name %>
</p>

<p>
  <b>書名:</b>
  <%= @library.title %>
</p>

<p>
  <b>著者:</b>
  <%= @library.author %>
</p>

<p>
  <b>出版社:</b>
  <%= @library.publisher %>
</p>

<p>
  <b>出版年:</b>
  <%= @library.year %>
</p>


<%= link_to '編集', edit_library_path(@library) %> |
<%= link_to '戻る', libraries_path %>
