<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @library.name %>
</p>

<p>
  <b>Title:</b>
  <%= @library.title %>
</p>

<p>
  <b>Author:</b>
  <%= @library.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @library.publisher %>
</p>

<p>
  <b>Year:</b>
  <%= @library.year %>
</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
